// Products Page css -- start
.orange-text {
  color: lightsalmon;
}

.product-review {
  position: absolute;
  bottom: 150px;
  left: 30px;
  background-color: aliceblue;
}

.rating {
  padding: 0 4px;
  margin-bottom: 0px;
  text-align: center;
}

.product-Label {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgb(239, 43, 76);
  padding: 0 4px;
  margin-bottom: 0px;
  text-align: center;
}

.product-details {
  color: black;
  text-decoration: none;
}

// Products page css ends here